/* @import "../../app/_variables.css"; */

.navItem {
  @apply p-2 gap-2 list-none no-underline text-lg md:text-lg font-semibold;
  text-decoration: none;
  color: var(--green-accent-two);
}

.navItem:hover {
  background-color: var(--info-color);
  color: var(--text-dark);
}

.active {
  background-color: var(--info-color);
  color: var(--text-dark);
}
